<form [formGroup]="addUserForm" class="" (submit)="showConfirmationDialog(user)">
<div class="heading"> Create Your Account </div>

<div class="dx-fieldset">
<div class="dx-field">
        <div class="dx-field-label">Username:</div>
        <div class="dx-field-value">
            <dx-text-box class="required" [(value)]="user.userName" formControlName="username">
			</dx-text-box>
        </div>
</div>
<div class="dx-field">
        <div class="dx-field-label">Password:</div>
        <div class="dx-field-value">
            <dx-text-box [maxLength]="255" class="required" [(value)]="user.password" formControlName="password">					
                 </dx-text-box>
        </div>
</div>
<div class="dx-field">
        <div class="dx-field-label">First Name:</div>
        <div class="dx-field-value">
            <dx-text-box [maxLength]="30" class="required" [(value)]="user.firstName" formControlName="firstname">					
                  </dx-text-box>
        </div>
</div>
<div class="dx-field">
        <div class="dx-field-label">Last Name:</div>
        <div class="dx-field-value">
            <dx-text-box [maxLength]="30" [(value)]="user.lastName" formControlName="lastname">					
                   </dx-text-box>
        </div>
</div>
<div class="dx-field">
        <div class="dx-field-label">Email:</div>
        <div class="dx-field-value">
            <dx-text-box [maxLength]="255" [(value)]="user.email" formControlName="email"></dx-text-box>
        </div>
</div>
<div class="dx-field">
        <!-- <div class="dx-field-label"></div> -->
        <div class="dx-field-value">
            <dx-button [text]="Reset" [type]="success" (onClick)="addUserForm.reset()"></dx-button>            
        </div>
        <!-- <div class="dx-field-value">
            <dx-button [text]="Create" [type]="success" (onClick)="showConfirmationDialog(user)"></dx-button>
        </div> -->
</div>              		
          	
</div>
</form>
